:root {
  --black: #000000;
  --white: #ffffff;
  --dark-green: #367D68;
  --hover-green: #45977f;
  --hover-cyan: #52bcc0;
  --dark-cyan: #31a8ac;
  --background-inputs: #eeeeee;
  --icons-border: #c9cccb;
}