.container {
  width: 800px;
  height: 500px;
  display: flex;
  position: relative;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);

  &__form {
    width: 100%;
    overflow: hidden;
    }

  .form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in;

    &__title {
      font-size: 30px;
      margin-bottom: 20px;
    }

    &__social {
      font-size: 18px;
      display: flex;
      gap: 12px;
      margin-bottom: 25px;

      &-icons {
        border: 1px solid #C9CCCB;
        border-radius: 6px;
        padding: 8px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transition: 0.3s ease;
          scale: (1.1);
        }
      }
    }

    &__text {
      font-size: 12px;
      margin-bottom: 15px;
    }

    &__inputs {
      width: 300px;
      height: 40px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 0 15px;
      background-color: #EEEEEE;

      &-input {
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        background-color: inherit;
      }
    }

    &__recovery {
      color: black;
      font-size: 14px;
      margin-bottom: 20px;
      margin-top: 5px;
    }

    &__buttons {
      width: 170px;
      height: 45px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      background-color: #367D68;
      color: white;

      &-light {
        background-color: #31a8ac;
      }
    }
  }

  .sign-up {
    transform: translateX(-100%);
  }

  &__welcome {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    background-color: #367D68;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 50% 0 0 50%;

    .welcome {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      padding: 0 50px;
      color: white;
      transition: transform 0.4s ease-in-out, border-radius 0.4s ease-in-out;

      &__title {
        font-size: 40px;
      }

      &__paragraph {
        font-size: 14px;
        text-align: center;
      }

      &__buttons {
        border: 2px solid white;
        background-color: transparent;
      }
    }

    .welcome-sign-in {
      transform: translateX(100%);
    }
  }
}

.toggle {
  .sign-in {
    transform: translateX(100%);
  }

  .sign-up {
    transform: translateX(0);
  }

  .welcome-sign-in {
    transform: translateX(0);
  }

  .welcome-sign-up {
    transform: translateX(-100%);
  }

  .container__welcome {
    transform: translateX(0);
    border-radius: 0 50% 50% 0;
    background-color: #31a8ac;
  }
}